body{
    margin: none;
    padding: none;
    background-image: radial-gradient(circle, #c5adf9,#b58cf4,#a46be9,#944bde,#852cd3);
}
.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent-container{
    margin-top: 8vh;
    padding: 2vh 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    width: clamp(1200px, 80%, 1860px);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.left-parent-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    padding-left: 1vw;
}
.website-title-container{
    border-bottom: 3px solid #DEE3E0;
    width: 70%;
    height: 10%;
    padding-bottom: 10px;
}
.website-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 32pt;
    color: #150821;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    white-space: nowrap;
}
.left-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30px;
    width: 70%;
    height: 14%;
    margin-top: 1.2%;
}
.country-input-field{
    font-size:22pt;
    font-family: 'Raleway', sans-serif;
    padding: 3px 0px 3px 10px;
    border-radius: 14px;
    background-color: #C9CFCC;
    border-color: black;
    color: rgb(77, 49, 82);
}
.country-input-field:focus{
    outline:none;
    border-color: rgb(77, 49, 82);
}
.submit-guess-button{
    font-size: 18pt;
    font-family: 'Raleway', sans-serif;
    border-radius: 14px;
    background-color: #C9CFCC;
    border-color: black;
    color: #150821;
    padding: 4px 12px;
    cursor: pointer;
}
.left-error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 4%;
}
.error-text{
    display: inline-block;
    font-size: 14pt;
    font-family: 'Raleway', sans-serif;
    color: rgb(246, 161, 161);
    position:relative;
    right: 120px;
}
.left-info-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 70%;
    height: 13%;
    margin-top: 1.2%;
    border-bottom: 3px solid #DEE3E0;

}
.guesses-display-header, .total-score-display{
    font-family: 'Raleway', sans-serif;
    font-size: 22pt;
    color: #150821;
    margin: 0px;
    padding: 0px;
}
.guesses-display-header{
    position:relative;
    top: 3px;
}   
.total-score-display{
    position:relative;
    right: 100px;
}
.score-styling{
    font-size: 28pt;
    font-weight: 600;
    color: #f9faf2;
    padding-left: 4px;
    position: relative;
    top: 2px;
}
.left-info-container{
    display: flex;
    width: 70%;
    margin-top: 2%;
}
.guesses-display{
    width: 56%;
    height: 100%;
    border-right: 3px dashed #DEE3E0;
}
.guesses-display-text{
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    color: #150821;
    margin: 0px;
    padding: 0px;
}
.current-score-display{
    width: 44%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.current-score-display-text{
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    color: #150821;
    margin: 0px;
    padding: 0px;
    padding-left: 6px;
}
.current-score-styling{
    color: #f9faf2;
    white-space: nowrap;
}
.right-parent-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    padding-right: 1vw;
}
.map-display-container{
    display: flex;
    justify-content: center;
    height: 600px;
    max-height: 300px;
}
.map-display{
    display: block;
    border-radius: 40px;
    height: 90%;
    max-height: 240px;
}
.right-fact-header-display{
    display: flex;
    justify-content: start;
    border-bottom: #DEE3E0 3px solid;
    margin-bottom: 18px;
}
.fact-header{
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 28pt;
    color: #150821;
    margin: 0px;
}
.right-fact-display{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50%;
    padding-left: 30px;
    gap: 4px;
}
.fact-display-text{
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    color: #150821;
    margin: 0px;
    padding: 0px;
}
.right-hint-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    gap: 16px;
}
.hint-button, .give-up-button{
    font-size: 18pt;
    font-family: 'Raleway', sans-serif;
    border-radius: 14px;
    background-color: #C9CFCC;
    border-color: black;
    color: #150821;
    padding: 4px 12px;
    margin-top: 20px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .parent-container{
        position: relative;
        left: 50px;
    }
}

@media (max-width: 1100px) {
    .parent-container{
        position: relative;
        left: 100px;
    }
}

@media (max-width: 1000px) {
    .parent-container{
        position: relative;
        left: 150px;
    }
}

@media (max-width: 900px) {
    .parent-container{
        position: relative;
        left: 200px;
    }
}

@media (max-width: 800px) {
    .parent-container{
        position: relative;
        left: 250px;
    }
}

@media (max-width: 700px) {
    .parent-container{
        position: relative;
        left: 300px;
    }
}

@media (max-width: 600px) {
    .parent-container{
        position: relative;
        left: 350px;
    }
}

@media (max-width: 500px) {
    .parent-container{
        position: relative;
        left: 400px;
    }
}

@media (max-width: 400px) {
    .parent-container{
        position: relative;
        left: 450px;
    }
}